<div class="main-site-container">
    <div class="contact-section" data-turbo="false" >
        <h3>Contacto</h3>

        <%= simple_form_for(@contact_form, url: contacto_path) do |f| %>
            <%= f.hidden_field :current_path, value: request.path %>
            <%= f.input :name,
                required: true,
                autofocus: true,
                autocomplete: false,
                error: "Por favor rellena este campo",
                label: "Nombre",
                input_html: { autocomplete: "Nombre" } %>    
            <%= f.input :email,
                required: true,
                autofocus: true,
                autocomplete: false,
                label: "Email",
                as: :email,
                error: "Por favor rellena este campo con un mail válido",
                input_html: { autocomplete: "Email"} %>
            <%= f.input :phone,
                required: true,
                autofocus: true,
                error: "Por favor rellena este campo",
                autocomplete: false,
                label: "Telefono",
                as: :tel,
                input_html: { autocomplete: "Teléfono"} %>
            <%= f.input :content,
                required: true,
                autofocus: true,
                autocomplete: false,
                error: "Por favor rellena este campo",
                label: "Mensaje",
                input_html: { autocomplete: "Mensaje"} %>
            <%= f.label :policy_consent, required:true, class:"mb-4" do%>
                <%= f.check_box :policy_consent, class: "checkbox-lg"%>
                Acepto expresamente las <%= link_to "Políticas de privacidad", policy_path("privacidad")%> y el <%= link_to "Aviso legal", policy_path("aviso-legal") %> *
                <% if f.object.errors[:policy_consent].any? %>
                    <div style="mt-2">
                        <p class="form-error-message">Por favor marque esta casilla</p>
                    </div>
                <% end %>
            <% end %>
            
                <%= recaptcha_tags %>

            
                <div class="form-btn-container">
                    <button id="contact-form-button" class="main-button form-button button-link">
                        <%= f.button :submit, "Enviar" %>
                    </button>
                </div>
        <% end %>
    </div>
</div>
