<div class="main-site-container">
    <div class="contact-section" data-turbo="false" >
        <h3>Contacto</h3>

        <%= simple_form_for(@contact_form, url: contacto_path) do |f| %>
            <div class="form-group">
                <%= f.input :name,
                    required: true,
                    autofocus: true,
                    autocomplete: false,
                    error: "Por favor rellena este campo",
                    label: "Nombre",
                    input_html: { autocomplete: "Nombre", class: "form-control"} %>    
            </div>
            <%= f.input :email,
                required: true,
                autofocus: true,
                autocomplete: false,
                label: "Email",
                as: :email,
                error: "Por favor rellena este campo con un mail válido",
                input_html: { autocomplete: "Email"} %>
            <%= f.input :phone,
                required: true,
                autofocus: true,
                error: "Por favor rellena este campo",
                autocomplete: false,
                label: "Telefono",
                as: :tel,
                input_html: { autocomplete: "Teléfono"} %>
            <%= f.input :content,
                required: true,
                autofocus: true,
                autocomplete: false,
                error: "Por favor rellena este campo",
                label: "Mensaje",
                input_html: { autocomplete: "Mensaje"} %>
                <%= recaptcha_tags %>
                <div class="form-btn-container">
                    <button id="contact-form-button" class="main-button form-button button-link">
                        <%= f.button :submit, "Enviar" %>
                    </button>
                </div>
        <% end %>
    </div>
</div>
