 <!-- ====== Hero Section Start -->

    <section id="home" class="relative z-10 pt-[150px] lg:pt-[100px] 2xl:flex items-center 2xl:h-[700px]">
      <div class="container">
        <div id="hero-content-wrapper" class="flex flex-wrap mx-[-16px]">
          <div class="w-full lg:w-1/2 self-center px-4">
            <div>
              <h1 class="text-base font-semibold text-primary mb-2">
                <span
                  class="font-bold text-black text-3xl sm:text-3xl md:text-[45px] leading-tight sm:leading-tight md:leading-[50px] block mt-1">
                  Alejandro Udaquiola </span>
              </h1>
              <h2 class="font-medium text-body-color text-lg md:text-xl mb-4">
                <span class="text-black"> Full-Stack Developer </span>
              </h2>
              <p class="max-w-[470px] font-medium text-body-color text-base leading-relaxed mb-11">After working at a
                leading Search & Discovery company as a Shopify Expert (SME), I have gained extensive experience in the
                Shopify platform, and integrations with different applications.</p>
              <div class="flex items-center">
                <a href="javascript:void(0)"
                  class="text-base font-semibold text-white bg-primary py-3 px-8 mr-4 hover:shadow-signUp hover:bg-opacity-90 rounded-full transition duration-300 ease-in-out">
                  Contact Me
                </a>
                <a href="javascript:void(0)"
                  class="text-base font-semibold text-white bg-black py-3 px-8 hover:shadow-signUp hover:bg-opacity-90 rounded-full transition duration-300 ease-in-out">
                  Learn More
                </a>
              </div>
            </div>
          </div>
          <div class="w-full lg:w-1/2 self-end px-4">
            <div class="hero-frames">
              <%= image_tag('https://res.cloudinary.com/dqstmox0s/image/upload/v1701369006/Group_1_jlcvw9.png', class:"mobile-frame lg:ml-auto max-w-[120px]") %>
              <%= image_tag('https://res.cloudinary.com/dqstmox0s/image/upload/v1701367959/Screenshot_2023-11-30_at_18.53_1_yta5p7.png', class:"lg:ml-auto max-w-[540px]") %>
            </div>
          </div>
          <div class="clients pt-16">
            <p class="font-normal text-xs flex items-center text-body-color mb-2">
              I'm specialized in
              <span class="w-8 h-[1px] bg-body-color inline-block ml-2"></span>
            </p>
            <div class="flex items-center">
                <div class="w-full py-3 mr-6">
                <%= image_tag('brands/Algolia-logo-blue.svg', style:"height:45px;") %>
              </div> 
              <div class="w-full py-3 mr-6">
                <%= image_tag('brands/shopify_logo_whitebg.svg', style:"height:45px; padding-bottom:3px") %>
              </div>
              <div class="w-full py-3 mr-6">
                <%= image_tag('brands/Ruby_On_Rails_Logo.svg', style:"height:50px; padding-bottom:8px;") %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- ====== Hero Section End -->