<%# Services section %>


<%= content_tag :div, class: "temp_information", data: {services: @services} do %>
<% end %>
<div class="services-section">
    <h2 class="text-align-center">Elige la solución que mejor se adapte a tu negocio</h2>
    <div class="main-site-container">
        <ul class="services-list">
            <% @services.each do |service|  %>
                <li>
                    <h5 class="services-tab"><%=service.name.upcase%></h5>
                </li>
            <%end %>
        </ul>
        
        <select id="services-select"> 
                <% @services.each do |service|  %>
                    <li>
                        <%# <h5 class="services-list--selected"></h5> %>
                        <option value="<%=service.name%>" class="services-option"><%=service.name%></option>
                    </li>
                <%end %>
        </select> 

        <div class="services-render">
            <div class="services-description">
                <h5 class="services-description_indicator"><%= @services[0].name.upcase %></h5>
                <h3 class="services-description-header"><%= @services[0].title %></h3>
                <h6><%= @services[0].description %></h6>
                <a href="/contacto" data-turbo="false">
                    <h5 class="services-description_link">SABER MÁS ></h5>
                </a>
                </div>
                <div class="services-image">
                <img src=<%= @services[0].image %> alt="Laptop navigating restaurant website image">
            </div>
        </div>
    </div>
</div>