<%# Footer section %>

<div class="site-footer">
    <div class="main-site-container">
        <div class="footer-container">
            <div class="footer-first-section">
                <div class="footer-left-column">
                    <div class="footer-logo">
                        <%= link_to root_path, class: "navbar-brand" do %>
                           <%= image_tag "https://res.cloudinary.com/dfyhqslry/image/upload/v1673690849/code%20web/Logo_osldad.svg" %>
                        <% end %>
                    </div>
                    <p>Code web soluciones digitales</p>
                    <p>Teléfono: 661818769</p>
                    <p>Email: contacto@code-web.es</p>
                </div>
                <div class="footer-center-column">
                    <ul class="footer-links">
                        <li>
                         <%= link_to "Servicios", services_path, class:"footer-link" %>
                        </li>
                        <li>
                         <%= link_to "Precios", packages_path, class:"footer-link" %>
                        </li>
                        <li>
                            <a href="#contact" class="footer-link">Blog</a>
                        </li>
                        <li data-turbo="false">
                         <%= link_to "Contacto", contacto_path, class:"footer-link" %>
                        </li>
                    </ul>
                </div>
                <div class="footer-center-column">
                    <ul class="footer-links">
                        <li>
                         <%= link_to "Emprendimientos", packages_path, class:"footer-link" %>
                        </li>
                        <li>
                         <%= link_to "Restaurantes", packages_path, class:"footer-link" %>
                        </li>
                        <li>
                         <%= link_to "Tienda online", packages_path, class:"footer-link" %>
                        </li>
                        <li data-turbo="false">
                         <%= link_to "Sitio personalizado", packages_path, class:"footer-link" %>
                        </li>
                    </ul>
                </div>
                <div class="footer-right-column">
                    <ul>
                        <li>
                            <%= link_to "Aviso legal", policy_path("aviso-legal"), class:"footer-link" %>
                        </li>
                        <li>
                            <%= link_to "Políticas de privacidad", policy_path("privacidad"), class:"footer-link" %>
                        </li>
                        <li>
                            <%= link_to "Políticas de cookies", policy_path("cookies"), class:"footer-link" %>
                        </li>
                    </ul>
                    <%= render "shared/components/social_media_icons" %>
                </div>
            </div>
            <div class="footer-second-section">
                <p>Designed & built by Code Web 2022</p>
            </div>
        </div>
    </div>
</div>
