       

<nav>
  <div class="nav-content">
    <div class="nav-logo">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag "https://res.cloudinary.com/dfyhqslry/image/upload/v1673690849/code%20web/Logo_osldad.svg" %>
    <% end %>
    </div>
    <div class="nav-elements">
      <ul class="nav-links">
        <li>
          <%= link_to "Servicios", services_path, class:"nav-link nav-font" %>
        </li>
        <li>
          <%= link_to "Precios", packages_path, class:"nav-link nav-font" %>
        </li>
        <li>
          <a href="#contact" class="nav-link nav-font">Blog</a>
        </li>
        <li data-turbo="false">
          <%= link_to "Contacto", contacto_path, class:"nav-link nav-font" %>
        </li>
        <li>
          <a href="contacto" class="button-link" data-turbo="false" >
            <button class="nav-main-button">Pedir presupuesto</button>
          </a>
        </li>
      </ul>
      <div class="burger-menu">
        <div class="line1"></div>
        <div class="line2"></div>
        <div class="line3"></div>
      </div>
    </div>
  </div>
</nav>
   
       
     